<div class="container top-30">
  <div class="row">
    <div class="col-md-3">

      <label for="termino">Buscador de artistas</label>
            
      <input
        [(ngModel)]="termino" 
        type="text"
        class="form-control"
        name="termino"
        (keyup)="buscarArtista()"
        placeholder="Buscar por artista...">

      <hr>
      
    </div>

    <div class="col-md-9">
      <div class="row">
        <div [routerLink]="['/artista', artista.id]" class="col-md-3 text-center puntero" *ngFor="let artista of _spotifyService.artistas">
          <img [src]="artista.images | sinfoto" class="img-fluid img-thumbnail">
          <p>{{ artista.name }}</p>
          <hr>
        </div>
      </div>
    </div>

  </div>
</div>