<form>
  <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between none" fxLayoutWrap>
    
    <mat-form-field fxFlex="45">
      <input matInput placeholder="Site name" value="">
    </mat-form-field>
    
    <mat-form-field fxFlex="45">
      <input matInput placeholder="Address" value="">
    </mat-form-field>
    
    <mat-form-field fxFlex="45">
      <input matInput placeholder="City" value="">
    </mat-form-field>
    
    <mat-form-field fxFlex="45">
      <input matInput placeholder="State" value="">
    </mat-form-field>

    <mat-form-field fxFlex="45">
      <input matInput placeholder="Country" value="">
    </mat-form-field>
    
    <mat-form-field fxFlex="45">
      <input matInput placeholder="Postal code" value="">
    </mat-form-field>
    
    <mat-form-field fxFlex="45">
      <input matInput placeholder="Contact phone number" value="">
    </mat-form-field>
  
  </div>
</form>