@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body {
    margin: 0px;
}

.main-container {
    margin-top: 5px;
    padding: 10px;
}

.close-mat-menu {
    /* display: none !important; */
    visibility: hidden;
}