<form novalidate (ngSubmit)="onSubmit()" [formGroup]="user">

  <label>
    <span>Full name</span>
    <input type="text" placeholder="Your full name" formControlName="name">
  </label>

  <div class="error" *ngIf="user.get('name').hasError('required') && user.get('name').touched">
    Name is required
  </div>

  <div class="error" *ngIf="user.get('name').hasError('minlength') && user.get('name').touched">
    Minimum of 2 characters
  </div>

  <br>

  <div formGroupName="account">

    <label>
      <span>Email address</span>
      <input type="email" placeholder="Your email address" formControlName="email">
    </label>

    <br>

    <label>
      <span>Confirm address</span>
      <input type="email" placeholder="Confirm your email address" formControlName="confirm">
    </label>

  </div>

  <div class="error" *ngIf="user.get('account').get('email').hasError('required') && user.get('account').get('email').touched">
    Email is required
  </div>

  <div class="error" *ngIf="user.get('account').get('confirm').hasError('required') && user.get('account').get('confirm').touched">
    Confirming email is required
  </div>

  <button type="submit">Sign up</button>

  <div formArrayName="items" *ngFor="let item of user.get('items').controls; let i = index;">
    <div [formGroupName]="i">
      <input formControlName="name" placeholder="Item name">
      <input formControlName="description" placeholder="Item description">
      <input formControlName="price" placeholder="Item price">
      <button type="button" (click)="removeItem(i)">Remove</button>
    </div>
  </div>

  <button type="button" (click)="addItem()">Add</button>

</form>

{{ user.value | json }}
<br> {{ user.valid }}


<h3>[disabled]="user.invalid"</h3>